.btn-primary{
    background-color: #6C63FF;
    border-color: #B7B3B3;
}

.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}
    .borderline::before{
        content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #6C63FF, #6C63FF, #6C63FF);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    z-index: 1;

    .borderline::after{
       content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #6C63FF, #6C63FF, #6C63FF);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    z-index: 1;
    }

    .box::before{
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
        animation: animate 6s linear infinite;
        transform-origin: bottom right;
        z-index: 1;
    }
    .box::after{
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
        animation: animate 6s linear infinite;
        transform-origin: bottom right;
        z-index: 1;
    }
    }
    @keyframes animate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .box form{
        position: absolute;
        inset: 4px;
        background: #222;
        padding: 50px 40px;
        border-radius: 8px;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    .box form h2{
        color: #fff;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
    }
    .box form .input-box{
        position: relative;
        width: 300px;
        margin-top: 35px;

}
.box form .input-box input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
   background-color: transparent;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    border: none;
}
.box form .input-box span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .input-box input:valid ~ span,
.box form .input-box input:focus ~ span{
    color: #fff;
    transform:  translateY(-34px);
    font-size: 0.75em;
}
.box form .input-box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    overflow: hidden;
}
.box form .input-box input:valid ~ i,
.box form .input-box input:focus ~ i{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}
.box form .input-box input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active {
    opacity: 0.8;
}